# Compiled output
/dist
/build

# Packages
/node_modules
.yarn/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/

# Aset Mentah (Jika tidak ingin dipublish)
/docs/branding/raw/
